[Desktop Entry]
Version=1.0
Type=Application
Name=Zenmap Alpine
Comment=Lightweight GTK3 graphical frontend for Nmap
Exec=zenmap-alpine
Icon=network-wired
Terminal=false
Categories=Network;Security;
StartupNotify=true
